body{
	background-color: #FDFFFF;
	padding-left: 20px;
}

/*Fonts*/
h1,h3,h4,h5,nav{
	font-family: 'Open Sans', sans-serif;

}

h2,p,footer{
	font-family: 'Raleway', sans-serif;
}

/*Font sizes*/

h1{
	font-size: 70px;
	color:black;
}

h3{
	font-size: 40px;
	color: #000000;
}

h4{
	font-size: 23px;

}

h5{
	font-size: 19px;
	color: #0FB796;
}

h5 a {
	color: inherit;
}

p{
	font-size: 16px;
}

.content{
	/*float:right;*/
	padding-right: 30px;
	clear: both;
	text-align: right;
}

nav{
	padding-bottom: 15px;
}

nav a{
	text-decoration: none;
	color:black;
	margin-right: 20px;
}

nav a:hover {
	border-bottom: 3px solid #0FB796;
}

a{
	text-decoration: none;
	color:black;
}

.underline{
	border-bottom: 2px solid;
}

.underline:hover{
	border-bottom: 2px #0FB796 solid;
}

p{
	max-width: 70%;
	float: right;
	clear: right;
	display: block
}

.about{
	padding-bottom: 120px;
	margin-top: 100px;
}


#themcompportfolio img{
	margin-top: 50px;
	margin-left: 120px;
	max-width: 24%;
	float:left;

}

.portfolioparagraphs{
	float: right;
	text-align: right;
	max-width: 60%;
	padding: 10px;
}

.msite{
	max-width: 50%;
	margin-top: 70px;
	float: right;
	clear: right;
}

.content-work{	
	clear: both;
}

.fontdpic{
	max-width: 70%;
}

.fontdatabase h5{
	position: relative;
	top: 30px;
}

#smpics{
	max-width: 100%;
	clear: both;
	padding: 10px;
	position: relative;
	left:10px;
}

#solemediagif,#mtlgif{

  max-width: 450px;
  height: auto;
  margin: 20px;
}

#inkdrinklogo{
	max-width: 27%;
	float: left;
	padding-left: 100px;
	clear: both;
}

#inkdrinkbc{
	max-width: 80%;
	clear: both;
	float: right;
}

.inkdrink{
	clear: both;
}


.eddesignpics{
	max-width: 30%;
	display:inline-flex;
	padding: 20px;
}

iframe{
	max-width: 100%
}


footer{
	text-align: center;
	clear: both;
	padding-top: 60px;
	padding-bottom: 30px;

}


/*LIGHTBOX
Credit: https://codepen.io/gschier/pen/HCoqh?editors=1100;
*/

.lightbox {

	display: none;

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	
	max-width: 96%;
	max-height: 96%;
	margin-top: 3%;
}

.lightbox:target {
	
	outline: none;

	
	display: block;
}


/*MEDIA QUERIES*/


@media only screen and (max-width: 400px){
	h1{
		font-size: 40px;
	}

	p{
		max-width: 55%;
	}

	nav{
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px){
	h1{
	font-size: 50px;
	color:black;
}

h3{
	font-size: 30px;
}

.fontdpic, #mtlgif, #solemediagif, .eddesignpics{
	max-width: 60%;
}


 #smpics img{
 	max-height: 300px;
 }
}

@media only screen and (max-width: 700px){
	.content{
		padding-right: 10px;
	}
}

@media only screen and (max-width: 730px){

	#themcompportfolio img{
		float:right;
		max-width: 40%;
	}

	.fontdpic{
		max-width: 80%;
	}

	#solemediagif, #mtlgif{
		float: right;
		margin: 0px;
		max-width: 90%;
	}

	#inkdrinklogo{
		float: right;
	}
}



/*inkdrink logo clear both*/
@media only screen and (min-width: 1900px){
	.fontdpic{
		max-width: 80%;
		float: right;
		clear: both;
	}

	#solemediagif, #mtlgif{
		max-width: 110%;
	}

	#inkdrinklogo{
		float: right;
	}

	p{
		max-width: 60%;
	}

	#solemediagif, #mtlgif, iframe{
		float: right;
		clear: both;
	}

	#smpics img{
		height: 1000px;
	}
}






@media only screen and (min-width: 2000px){
	p{
		font-size: 19px;
	}
}


/*old*/

.collapsible{
	margin-top: 30px;
	width:100%;
	height: 100px;
	border-radius: 10px;
	border-style: solid;
	border-color:#f9f9f9;
	border-width: 1px;
	background-color: white;
	text-align:left;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding:20px;
	margin-left:20px;
	-webkit-box-shadow: 13px 14px 52px -19px rgba(0,0,0,0.29);
	-moz-box-shadow: 13px 14px 52px -19px rgba(0,0,0,0.29);
	box-shadow: 13px 14px 52px -19px rgba(0,0,0,0.29);
	cursor: pointer;
}

.collapsible:hover, .collapsible:active{
	border-color:rgb(0, 198, 136);
	color:rgb(0, 198, 136);

}

.collapsible img{
	float:right;
	position:relative;
	top: -10px;
}


#collapsiblem{
	 background: url("images/mbg.png") no-repeat fixed center;
}

#collapsibleink{
	background: url("images/inkbg.png") no-repeat fixed center;
}

#collapsiblefont{
	background: url("images/3.png") no-repeat fixed center;
}

#collapsiblespur{
	background: url("images/spurg2.png") no-repeat fixed center;
}

#collapsiblevanish{
	background: url("images/vanishbg.png") no-repeat fixed center;
}

#collapsiblesolemedia {
	background: url("images/solebg.png") no-repeat fixed center;
}

#collapsiblemtl{
	background: url("images/mtlbg.png") no-repeat fixed center;
}
