html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	background-color: #0000;
	font-size: 16px;
	padding-left: 20px;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    line-height: 1.45;
    overflow-x: hidden;
}

/*Animations*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Fonts + Sizing*/

h1,h2,h3,h4,h5,h6{
	font-family:'Ubuntu', Helvetica, sans-serif;
	line-height: 1.15;

}

h1{
	font-size: 3.052rem;
}

h2{
	font-size: 2.441rem;
}

h3{
	font-size: 1.953em;
}

h4{
	font-size: 1.563em;
}

h5{
	font-size: 1.25em;
}

small, .text_small{
	font-size: 0.8em;
}

p, nav, footer{
	font-family: 'Anonymous Pro', monospace;
	width: 100%;
}

/*Page*/

a{
	text-decoration: none;
	color:black;
	border-bottom: 2px solid;
	padding-bottom: 2px;
}

a:hover{
	border-bottom: 2px #0FB796 solid;
}

nav{
	padding-bottom: 30px;
	margin-left: 5px;
}

nav a{
	text-decoration: none;
	color:#999999;
	margin-right: 10px;
	font-size: 15px;
	padding: 6px;
	border-radius: 5px;
	border-bottom: none;
}

nav a:hover {
	border-bottom: 2px solid #efefef;
	color:white;
	background-color: black;
}



/*Projects: Flexbox*/

.home-projectContainer{
	display: flex;
	flex-wrap: wrap;
}

.home-projectContainer-individual{
	border-radius: 7px;
	width: 270px;
	height: 270px;
	margin: 20px; /*provisory spacing between items, change. Better if %*/
	cursor: pointer;
}

.home-projectContainer-individual img{
	max-height: 250px;
	display:block;
    margin:auto;
    padding-top: 10px;
}

.themcomp{
	background-color: black;
}

.fontdatabase{
	background-color:#bb0e47;
}

.mtl{
	background-color: #fdfdfd;
}

.solemedia{
	background-color: #242424;
}

.spur{
	background-color: #ccffff;
}

.spur img{
	max-width: 250px;
}

.vanish{
	background-color: #faf7fc;
}

.inkdrink{
	background-color: #eaf9f9;
}

.other{
	background-color: #fff47c;
	font-size: 1.563rem;
}

.other p{
	text-align: center;
	vertical-align: middle;
	line-height: 220px;

}

/*End of flexbox*/


/*OVERLAYS*/


.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: right; /* Centered text/links */
  margin-top: 30px;
  margin-bottom: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content p, .overlay-content h1, .overlay-content h2, .overlay-content img{
	color:white;
	margin-right: 30px;
}

.overlay-content p{
	max-width: 70%;
	float: right;
}

.overlay-content a{
	color:white;
}

.overlay-content img {
	padding-top: 40px
}

.overlay-content a img{
	text-decoration: none;
	border-bottom: none;
}

.overlay-content a:hover img{
	text-decoration: none;
	border-bottom: none;
}

/* Position the close button (top right corner) */
.xButton {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
  color:white;
  float:left;
}

.xButton a, .forwardArrow, .backArrow{
	text-decoration: none;
	border-bottom: none;
	color:white;
}

.xButton a:hover , .forwardArrow:hover,.backArrow:hover, .overlay-content a:hover img{
	text-decoration: none;
	border-bottom: none;
	color:white;
}

.forwardArrow{
  position: absolute;
  top: 40px;
  right: 45px;
  font-size:30px;
  color:white;
}

.backArrow{
	position: absolute;
	top: 40px;
	right: 90px;
	font-size:30px;
	color:white;
}

/*overlay scrollbar*/

.overlay::-webkit-scrollbar {
    width: 8px;
    background-color: #6b6b6b;
    border-radius: 5px;
}

.overlay::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;

}


/*The  M Company's overlay*/
.whitem{
	max-width: 15%;
	float: left;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 20px;
}

.themcomp-website{
	padding-top: 30px;
	max-width: 40%;
}

.fontdpic{
	max-width: 60%;
}

.solemedia-pictures{
	clear:both;
	display: flex;
	flex-wrap: wrap;
	float: right;
}


#inkdrinklogo{
	max-width: 20%;
	float: left;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 20px;
}

#inkdrinkbc{
	max-width:60%;
}

.flitter{
	max-width: 30%;
}

/*END OF OVERLAYS*/


/*LIGHTBOX
Credit: https://codepen.io/gschier/pen/HCoqh?editors=1100;
*/

.lightbox {

	display: none;

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	
	outline: none;
	display: block;
}

/*END OF LIGHTBOX*/

iframe{
	margin-right: 30px;
	margin-top: 30px;
	clear: both;
	float:right;
	max-width: 100%;
}


/*Footer*/

footer{
	text-align: center;
	clear: both;
	padding-bottom: 30px;
	color: #939393;
}

footer a{
	border-bottom: none;
	color: #939393;
}

footer a:hover{
	border-bottom: none;
	color: black;
}



/*MEDIA QUERIES*/
@media only screen and (max-width: 750px){
	.whitem, #inkdrinkbc, #inkdrinklogo{
		clear: both;
		float: right;
	}

	.whitem{
		max-width: 25%;
	}

	#inkdrinkbc{
		max-width: 75%;
	}
}

@media only screen and (max-width: 750px){
	iframe{
		max-width: 85%;
	}
}


@media only screen and (max-width: 461px){
	.external{
		display: none;
	}
}

/* OVERLAY When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .xButton {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.xButton, .themcomp-website a{
	border-bottom: none !important;
}