html{
	scroll-behavior: smooth;
}

body{
	margin:0;
}

h1,h3,h4,h5,h6{
	/*font-family: 'Playfair Display', serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

p, footer{
	font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.5em;
  line-height: 1.4;
}

.underline{
	text-decoration: none;
	border-bottom: 3px solid #04D5A8;
}

h1 a{
	text-decoration: none;
	border-bottom: 3px solid #919191 /*!important*/;
}

h1 a:hover{
	border-bottom: 3px solid #919191 !important;
}

.underline:hover{
	border-bottom: 3px solid #04B58F;
	transform: translate3d(-100%, 0,0);
	transition: .2 ease-in;
	transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.6em;
	}

h3 {
	font-size: 1.953em;
	font-family: 'Montserrat', sans-serif;
}

h3:hover{
	position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out; /** Firefox **/
    -o-transition: all 0.3s ease-in-out; /** Opera **/
	transform: translate(10px,0);
    -webkit-transform: translate(10px,0); /** Chrome & Safari **/
    -o-transform: translate(10px,0); /** Opera **/
    -moz-transform: translate(10px,0); /** Firefox **/
    color:#04D5A8;
}

h3:hover span, h4:hover span{
	color:#919191;
}

h4 {font-size: 1.563em;}

h5 {
	font-size: 1.25em;
	line-height: 2
}

h6{
	font-size: 1em;
}

small, .text_small {font-size: 0.8em;}

.line-height{
	line-height: 1.9;
}

.grey{
	color:#cfcfcf;
	font-size:30px;
}

.img-caption{
	margin-top:60px;
	margin-bottom: 50px;
}

.caption{
	font-size:14px;
	color:#919191;
	text-align: center;
}


h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,p::selection, a::selection{
	color:white;
	background-color:#04D5A8; 
}

p{
	font-size: 16px;
	line-height: 1.9;
}

.outer-div{
	padding: 100px;
}

.inner-div{
	margin: auto;
    max-width: 1100px;
}

.center{
	display: block;
    margin: 0 auto;
}

a{
	text-decoration: none;
	color: inherit;
}

.portfolio{
	margin-top: 200px;
}

.backbtn{
	background: transparent;
	border:none;
	border-left: 1px solid #5bc9b1;
	border-style: round;
	border-radius: 10px;
	margin-top: 50px;
	color: #919191;
	padding: 10px;

	background: linear-gradient(to right, #04d5a8 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;

	cursor: pointer
}

.backbtn:hover {
  background-position: left bottom;
  color:white;
}

.mcompany-header-img{
	max-width: 20%;
	position: relative;
	right: 50px;
}

.contact{
	margin-top: 120px;
}

.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centered-img{
	max-width: 70%;
	margin-bottom: 30px
}


.solemedia-pictures{
    clear: both;
    display: flex;
    flex-wrap: wrap;
}

.solemedia-pictures img{
	padding: 2px;
	max-width: 100%;
}

.singlepage-header h1{
	font-weight: bolder;
}

iframe{
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.github{
	position: relative;
	bottom: 4px;
	margin-right: 4px;
	max-width: 28px;
}

.gmail{
	max-width: 3%;
	margin-right: 3px;
}

.telegram{
	max-width: 3%;
}

footer{
	text-align: center;
	clear: both;
	margin-top: 70px;
	margin-bottom: 30px;
}

@media only screen and (max-width: 1300px){
	.mcompany-header-img{
		right: 25px
	}
}

@media only screen and (max-width: 1200px){
	.telegram, .gmail{
		max-width: 7%;
	}
}

@media only screen and (max-width: 1000px){
	h1{
		max-width: 90%;
	}
	iframe{
		max-width: 90%;
	}
	
}


@media only screen and (max-width: 662px){
	.outer-div{
		padding: 50px;
	}
	h1{
		font-size:2em;
	}

	.mcompany-header-img{
		right: 20px;
	}


}

@media only screen and (max-width: 424px){
	h1{
		font-size:1.95em;
	}
	.centered-img{
		max-width: 90%;
	}

	.portfolio{
		margin-top:20;
	}

	.gmail, .telegram{
		max-width: 11%;
	}


}

@media only screen and (max-width: 386px){
 	h1{
 		font-size: 1.95em;
 	}
 	.outer-div{
 		padding:30px;
 	}
 	.mcompany-header-img{
 		right: 10px;
 	}
 }

/*481 -> 275*/