html{
	scroll-behavior: smooth;
}

body{
	margin:0;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif;
}

p, footer{
	font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.5em;
  line-height: 1.4;
}

h1 a, .underline{
	text-decoration: none;
	border-bottom: 3px solid #04D5A8;
}

.underline:hover{
	border-bottom: 3px solid #04B58F;
	transform: translate3d(-100%, 0,0);
	transition: .2 ease-in;
	transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

h2 {font-size: 2.6em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

p{
	font-size: 16px;
	line-height: 1.9;
}

h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,p::selection, a::selection{
	color:white;
	background-color:#04D5A8; 
}

.outer-div{
	padding: 100px;
}

.inner-div{
	margin: auto;
    max-width: 1100px;
}
.arrow{
	min-width: 100px;
	margin: 0;
    float: right;
    padding-top: 90px;
}

.arrow button{
	background-color: transparent;
	border: none;
	margin-right: 10px;
}

a{
	text-decoration: none;
	color: inherit;
}

.portfolio{
	margin-top: 350px;
}

.carousel div{
	border-radius: 5px;
	cursor: pointer;
}

.carousel div:nth-of-type(2){
	background-color: black;
}

.carousel div:nth-of-type(3){
	background-color: #bb0e47;
}

.carousel div:nth-of-type(4){
	background-color: #f7f7f7;
}

.carousel div:nth-of-type(5){
	background-color: white;
}

.carousel img{
	max-height: 500px;
	display:block;
    margin:auto;
}

.align{
	position: relative;
	right: 10px;
}


.display{
	display: block !important;
}

.slick-dots{
	display: none !important;
}

.slick-prev:before, .slick-next:before{
    color:#04D5A8 !important;
}

.contact{
	margin-top: 120px;
}

.product-header{
	width: 100%;
	border-radius:5px;
}

.black{
	background-color: black;
}

.whitem{
	max-width: 45%; 
	padding: 50px;
}

.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Overlay*/
/*OVERLAYS*/


.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: right; /* Centered text/links */
  margin-top: 30px;
  margin-bottom: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content::after{
	content: " ";
	margin-top: 30px;
}

.overlay-content p, .overlay-content h1, .overlay-content h2, .overlay-content img{
	color:white;
	margin-right: 30px;
}

.overlay-content p{
	max-width: 70%;
	float: right;
}

.overlay-content a{
	color:white;
}

.overlay-content img {
	padding-top: 40px
}

.overlay-content a img{
	text-decoration: none;
	border-bottom: none;
}

.overlay-content a:hover img{
	text-decoration: none;
	border-bottom: none;
}

/* Position the close button (top right corner) */
.xButton {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
  color:white;
  float:left;
}

.xButton a, .forwardArrow, .backArrow{
	text-decoration: none;
	border-bottom: none;
	color:white;
}

.xButton a:hover , .forwardArrow:hover,.backArrow:hover, .overlay-content a:hover img{
	text-decoration: none;
	border-bottom: none;
	color:white;
}

.forwardArrow{
  position: absolute;
  top: 40px;
  right: 45px;
  font-size:30px;
  color:white;
}

.backArrow{
	position: absolute;
	top: 40px;
	right: 90px;
	font-size:30px;
	color:white;
}

/*overlay scrollbar*/

.overlay::-webkit-scrollbar {
    width: 8px;
    background-color: #6b6b6b;
    border-radius: 5px;
}

.overlay::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;

}

/*End overlay*/

.fontdatabase-img{
	max-width: 70%;
	margin-bottom: 30px
}


.solemedia-pictures{
    clear: both;
    display: flex;
    flex-wrap: wrap;
}
.solemedia-pictures img{
	padding: 2px;
	max-width: 100%;
}

iframe{
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

footer{
	text-align: center;
	clear: both;
	margin-top: 70px;
	margin-bottom: 30px;
}

@media only screen and (max-width: 1000px){
	h1{
		max-width: 90%;
	}
	iframe{
		max-width: 90%;
	}
	
}


@media only screen and (max-width: 662px){
	.outer-div{
		padding: 50px;
	}
	h1{
		font-size:2em;
	}


}

@media only screen and (max-width: 424px){
	h1{
		font-size:1.8em;
	}
	.fontdatabase-img{
		max-width: 90%;
	}
}

@media only screen and (max-width: 386px){
 	h1{
 		font-size: 1.6em;
 	}
 	.outer-div{
 		padding:30px;
 	}
 }

 /*Slick*/
 @media(max-width:800px) {
  .slick-slide img {
    width: 100%;
  }
}